.holder {
  width: 90%;
  height: 90%;
  /* border: 2px solid red; */
  border-radius: 5px;
  box-shadow: -2px -2px 7px 2px rgba(249, 249, 249, 0.796),
    2px 2px 7px 2px rgba(147, 147, 147, 0.683);
  background-color: rgb(221, 220, 220);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder h1 {
  font-weight: 800;
  margin-bottom: 30px;
}

.holder .canvas {
  width: 500px;
  height: 500px;
  /* border: 2px solid red; */
  box-shadow: 2px 2px 7px 2px rgba(249, 249, 249, 0.796),
    -2px -2px 7px 2px rgba(147, 147, 147, 0.683);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
